.nav {

    grid-area: n;
    background-color: rgb(71, 255, 117);
    padding: 20px;
  }

  .item{
      color: white;
      text-decoration: none;
  }

  .item a.active{
    color: rgb(235, 28, 148);
}