.dialogs {
    display: grid;
    grid-template-columns: 3fr 12fr;

}

.dialogsItems {
padding: 10px;
color: honeydew;
}

.dialogsItems .active{
    color: rgb(228, 45, 21);
}
.messages {
padding: 20 px;
}

.messages .message {
    color: whitesmoke;

}
